/* Global styles */
body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #e0e0e0;
}
/* Set the background image */
body {
    background-image: url('bg.png'); /* Replace 'background.jpg' with your image file path */
    background-repeat: no-repeat;
    background-size: cover; /* Adjust this property as needed */
    background-attachment: fixed;
}

/* Responsive styles */
@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}
